<?xml version="1.0"?>

<!-- Launch files to run the anchored rectangles test -->
<launch>

	<param name="use_sim_time" value="False" />

	<node name="c_localization_anchoredrectangles" pkg="c_slam_roamfree"
		type="c_localization_anchoredrectangles" output="screen"
		launch-prefix="">

		<!-- Ros stuff -->
		<param name="trackedFrame" value="camera_link" />
		<param name="imuTopic" value="/ardrone/imu" />

		<!-- Initial pose -->
		<rosparam param="initialPose">[0.0, -1.0, 0.0, 0.5, -0.5, 0.5, -0.5]</rosparam>

		<rosparam param="T_O_IMU">[0.0, 0.0, 0.0, 0.5, 0.5, -0.5, 0.5]</rosparam>

		<rosparam param="T_O_CAMERA">[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]</rosparam>

		<!-- Imu data -->
		<param name="imu_N" value="10" />
		<param name="imu_dt" value="0.02" />

		<!-- Camera calibration -->
		<rosparam param="K">[460.890258789062, 0.0, 343.462058902507, 0.0, 529.505432128906, 201.160554159542, 0.0, 0.0, 1.0]</rosparam>

		<!-- Vision Stuff -->
		<param name="initialScale" value="6" />
		<param name="minWindowLenghtSecond" value="2.0" />
		<param name="minActiveFeatures" value="1" />

		<!-- Optimization method -->
		<param name="useGaussNewton" value="True" />
		<param name="iterationN" value="50" />
	</node>

	<node name="circular_test" pkg="c_slam_roamfree" type="circular_test"
		output="screen" launch-prefix="" />

	<node name="displayer" pkg="c_slam_roamfree" type="displayer"
		output="screen" launch-prefix="" />

	<node name="rviz" pkg="rviz" type="rviz" respawn="true"
		args="-d $(find c_slam_roamfree)/rviz_config/rviz.rviz" />


</launch>