<launch>
	
	<param name="use_sim_time" value="False"/>
	
	<arg name="imu_topic" default="/ardrone/imu"/>	

    <node name="c_localization_rectangles" 
          pkg="c_slam_roamfree" 
          type="c_localization_rectangles"
          args="$(arg imu_topic)"  
          output="screen" 
          launch-prefix="gdb -ex run --args">
    
    	<param name="IMU_N_integration_steps" value="10"/>
     	<param name="IMU_nominal_period" value="0.02"/>
     </node>
          
	 <node name="circular_test" 
          pkg="c_slam_roamfree" 
          type="circular_test" 
          output="screen" 
          launch-prefix=""/>
          
           <node name="displayer" 
          pkg="c_slam_roamfree" 
          type="displayer" 
          output="screen" 
          launch-prefix=""/>
          
    <node name="rviz" 
          pkg="rviz" 
          type="rviz"
          respawn="true"
          args="-d $(find c_slam_roamfree)/rviz_config/rviz.rviz"  
          output="screen"/>
    

</launch>