<launch>
	
	<param name="use_sim_time" value="False"/>	

    <node name="c_localization" 
          pkg="c_slam_roamfree" 
          type="c_localization" 
          output="screen" 
          launch-prefix=""/>
          
	 <node name="circular_test" 
          pkg="c_slam_roamfree" 
          type="circular_test" 
          output="screen" 
          launch-prefix=""/>
          
           <node name="displayer" 
          pkg="c_slam_roamfree" 
          type="displayer" 
          output="screen" 
          launch-prefix=""/>

</launch>