<?xml version="1.0"?>

<!-- Launch file to run the cognitive slam system -->
<launch>
	<!-- Arguments -->
	<arg name="camera_source" default="/ardrone" />
	<arg name="classifierkb" default="$(find c_slam)/knowledgebase/knowledgebase.kb" />
	<arg name="classifier" default="$(find c_slam)/knowledgebase/classifier.fuzzy" />
	<param name="use_sim_time" value="true" />

	<!-- Camera processing -->
	<group ns="$(arg camera_source)">
		<node name="image_proc" pkg="image_proc" type="image_proc" />
	</group>

	<!-- System nodes -->
	<node name="c_vision_detector" pkg="c_vision" type="c_vision_detector"
		output="screen">
		<param name="canny_automatic" value="True" />
	</node>

	<node name="c_vision_recognizer" pkg="c_vision" type="c_vision_recognizer"
		output="screen">
		<!-- canny params -->
		<param name="canny_automatic" value="True" />
		<param name="canny_alpha" value="0.15" />
	</node>

	<node name="c_fuzzy_reasoner" pkg="c_fuzzy" type="c_fuzzy_reasoner"
		  args="-c $(arg classifierkb) $(arg classifier)" 
		  output="screen"/>

	<node name="c_tracker" pkg="c_tracking" type="c_tracker" output="screen" >
	</node>

</launch> 
