<!-- Launch file to run the cognitive slam system -->
<launch>
	<!-- Arguments -->
	<arg name="camera_source" default="/ardrone" />
	<arg name="knowledgebase" default="$(find c_slam)/knowledgebase/prova.kb" />
	<arg name="classifierkb" default="$(find c_slam)/knowledgebase/knowledgebase.kb" />
	<arg name="classifier" default="$(find c_slam)/knowledgebase/classifier.fuzzy" />
	
	<!-- Camera processing -->
	<group ns="$(arg camera_source)">
		<node name="image_proc" 
	              pkg="image_proc" 
	              type="image_proc" />
	</group>
	
	<!-- System nodes -->
	<node name="cognitive_vision" 
	      pkg="c_vision" 
	      type="cognitive_vision" 
	      output="screen"/>
	<node name="c_fuzzy_reasoner" 
              pkg="c_fuzzy" 
              type="c_fuzzy_reasoner" 
              args="$(arg knowledgebase) $(arg classifierkb) $(arg classifier)" 
              output="screen"/> 		

</launch> 
