<!-- Launch file to run the test tracking system -->
<launch>
	<!-- Arguments -->
	<arg name="camera_source" default="/ardrone" />
	<arg name="knowledgebase" default="$(find c_slam)/knowledgebase/prova.kb" />
	<arg name="classifierkb" default="$(find c_slam)/knowledgebase/knowledgebase.kb" />
	<arg name="classifier" default="$(find c_slam)/knowledgebase/classifier.fuzzy" />
	
	<!-- Camera processing -->
	<group ns="$(arg camera_source)">
		<node name="image_proc" 
	              pkg="image_proc" 
	              type="image_proc" />
	</group>
	
	<!-- System nodes -->
	<node name="c_tracker" 
		  pkg="c_tracking" 
	      type="c_tracker" 
	      output="screen" />
	      
	<node name="object_selector" 
		  pkg="c_tracking" 
	      type="object_selector" 
	      output="screen" />
	      
	<node name="c_vision_slam" 
	      pkg="c_vision" 
	      type="c_vision_slam" 
	      output="screen">
	    <!-- canny params -->
		<param name="canny/alpha" value="0.05" />
		<param name="canny/apertureSize" value="3" />
		
		<!-- hough params -->
		<param name="hough/rho" value="1" />
		<param name="hough/teta" value="1.0" />
		<param name="hough/threshold" value="50" />
		<param name="hough/minLineLenght" value="20" />
		<param name="hough/maxLineGap" value="15" />
		
		<!-- line filter params -->
		<param name="filter/maxDeltaHorizontal" value="10" />
		<param name="filter/maxDeltaVertical" value="5" />
		
		<!-- cluster params -->
		<param name="cluster/threshold" value="30" />
		<param name="cluster/minPoints" value="4" />
		<param name="cluster/maxDistance" value="15.0" />		
		
		<!-- classifier params -->
		<param name="classifier/threshold" value="0.2" />
	</node>	
	
	<node name="c_fuzzy_reasoner" 
              pkg="c_fuzzy" 
              type="c_fuzzy_reasoner" 
              args="$(arg knowledgebase) $(arg classifierkb) $(arg classifier)" 
              output="screen"/> 	
</launch>