<?xml version="1.0"?>

<!-- Launch file to run the test tracking system -->
<launch>
	<!-- Arguments -->
	<arg name="camera_source" default="/ardrone" />
	<arg name="classifierkb" default="$(find c_slam)/knowledgebase/knowledgebase.kb" />
	<arg name="classifier" default="$(find c_slam)/knowledgebase/classifier.fuzzy" />
	
	<!-- Camera processing -->
	<group ns="$(arg camera_source)">
		<node name="image_proc" 
	              pkg="image_proc" 
	              type="image_proc" />
	</group>
	
	<!-- System nodes -->
	<node name="c_tracker" 
		  pkg="c_tracking" 
	      type="c_tracker" 
	      output="screen">
	      <!-- Bounding Box parameters -->
	      <param name="boundingBox_xScaling" value="1.0" />
	      <param name="boundingBox_yScaling" value="1.0" />
	      </node>
	      
	<node name="object_selector" 
		  pkg="c_tracking" 
	      type="object_selector" 
	      output="screen" />
	      
	<node name="c_vision_recognizer" 
	      pkg="c_vision" 
	      type="c_vision_recognizer" 
	      output="screen">
	    <!-- canny params -->
		<param name="canny_alpha" value="0.2" />
		<param name="canny_apertureSize" value="3" />
		<param name="canny_low" value="15" />    <!-- 10 -->
		<param name="canny_high" value="45" />   <!-- 30 -->
		<param name="canny_blur" value="3" />
		
		<!-- hough params -->
		<param name="hough_rho" value="1" />
		<param name="hough_teta" value="1.0" />
		<param name="hough_threshold" value="50" />
		<param name="hough_minLineLenght" value="20" />
		<param name="hough_maxLineGap" value="15" />
		
		<!-- line filter params -->
		<param name="filter_maxDeltaHorizontal" value="10.0" />
		<param name="filter_maxDeltaVertical" value="5.0" />
		
		<!-- cluster params -->
		<param name="cluster_threshold" value="30" />
		<param name="cluster_minPoints" value="4" />
		<param name="cluster_maxDistance" value="15.0" />		
		
		<!-- classifier params -->
		<param name="classifier_threshold" value="0.2" />
	</node>	
	
	<node name="c_fuzzy_reasoner" 
              pkg="c_fuzzy" 
              type="c_fuzzy_reasoner" 
              args="-c $(arg classifierkb) $(arg classifier)" 
              output="screen"/> 	
</launch>